:root {
    --main-color: #50746c;
    --point-color: #e7b34d;
    --white-color: #ffffff;
    --sub-color: #edddc4;
    --black-color: #000000;
}


.main_content {
    background-color: var(--sub-color);
    height: 1000px;
}

.login_div {
    text-align: center;
    height:1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_div input{
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom:  1px solid #e7b34d;
    font-size: 18px;
}



.login_div button{
    width: 100%;
    padding: 10px;
    border:none;
    border-radius: 4px;
}

.login_div button:hover{
    background-color: #e7b34d;
    transition: 0.5s;
}

.loginSetting{
    display: flex;
    padding: 0;
    justify-content: space-between;

}

/* .loginSetting li{
    padding: 0;
    margin: 0;
} */